
		
h2 {
	text-align: center;
	font-size: 12pt;
	text-decoration: bold;
}

h3 {
	text-align: center;
	font-size: 10pt;
	
}
		
body {
	width: 960px ;
	height: 500px;
}

.tick {
	rotate: none;
}

.dimple-bubble:hover {
	fill: #340038;
	border-color: #340038;
}

.dimple-title {
	font-size: 12pt;
}
